:root {
  --primary: #331710;
  --secondary: #a27e4e;
}

* {
  font-family: 'times new roman';
  user-select: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

input {
  transition: all 100ms;
}

input[type="checkbox"] {
  appearance: none;
  margin: 0;
  height: 1em;
  width: 1em;
  border: 2px solid var(--secondary);
  border-radius: 4px;
}
input[type="checkbox"]:checked {
  background-color: var(--secondary);
}
input[type="checkbox"]:checked::before {
  content: '';
  position: absolute;
  top: -1.5px;
  left: 1.5px;
  width: 4px;
  height: 8px;
  border: solid var(--primary);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type="radio"] {
  appearance: none;
  margin: 0;
  height: 1em;
  width: 1em;
  border: 2px solid var(--secondary);
  border-radius: 100%;
}
input[type="radio"]:checked {
  background-color: var(--secondary);
}

input:hover:not(:checked) {
  border-width: 4px;
}

#map hr {
  border: 1px solid var(--secondary);
}

#map {
  width: 100%;
  height: 100%;
  background-image: url('./assets/background.jpg');
  background-position: center center;
  background-size: cover;
  background-color: var(--secondary);
}

#map .coordbox {
  opacity: 0.5;
  background-color: var(--primary);
  color: var(--secondary);
  padding-inline: 0.5em;
  padding-block: 0.25em;
  font-size: min(1.8vw, 16px);
  border: 1px solid var(--secondary);
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 999;
  transition: all ease 0.3s;
}

/* Garante que a fonte não fique muito pequena em telas minúsculas */
@media (max-width: 500px) {
  #map .coordbox {
    display: none;
    font-size: 14px;
    padding-inline: 0.4em;
    padding-block: 0.2em;
  }

  #map .leaflet-popup-content-wrapper {
    font-size: 10px;
  }

  #map .leaflet-tooltip {
    font-size: 12px;
  }
}


#map .coordbox:hover {
  opacity: 1;
}

#map .leaflet-popup-content-wrapper {
  color: var(--secondary);
  background: var(--primary);
  border: 1px solid var(--secondary);
  font-size: 12px;
  border-radius: 8px;
}

#map .leaflet-tooltip {
  color: var(--secondary);
  background: var(--primary);
  border: 1px solid var(--secondary);
  font-weight: bold;
  font-size: 14px;
  padding-block: 0;
}

#map .leaflet-tooltip::before {
  border-top-color: var(--secondary);
}

#map .layerControlEmoji {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.leaflet-control {
  opacity: 0.5;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 16px;
  border: 1px solid var(--secondary);
  border-radius: 6px;
  transition: all ease 0.3s;
}

.leaflet-control:hover {
  opacity: 1;
}

#map .leaflet-control-zoom-out,
#map .leaflet-control-zoom-in {
  background-color: var(--primary);
  border-bottom-color: var(--secondary);
}

#map .leaflet-control-zoom-out span,
#map .leaflet-control-zoom-in span {
  color: var(--secondary);
}

#map .leaflet-disabled {
  filter: grayscale(75%);
}

#map .leaflet-control-layers-separator {
  border-color: var(--secondary);
}

/* TOASTS */
#map .toast-container {
  position: fixed;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 3rem;
  width: 30rem;
  margin: 0;
}

.toast {
  font-size: 1rem;

  margin: 0;
  padding: 1rem;

  min-width: 15rem;
  max-width: 20rem;

  border: 1px solid var(--secondary);
  border-radius: 6px;

  background-color: var(--primary);
  box-shadow: 0px 1rem 1rem #1e1e1e55;

  animation: toast-slide 4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.toast p {
  color: var(--secondary);
  margin: 0;
  margin-left: 2rem;
  text-align: center;
}

.toast-info::before {
  content: '💬';
  position: absolute;
  font-size: 1.5rem;
  left: 0.75rem;
  top: 0.75rem;
  color: var(--secondary);
}

.toast-error::before {
  content: '⛔';
  position: absolute;
  font-size: 1.5rem;
  left: 0.75rem;
  top: 0.75rem;
  color: var(--secondary);
}

.toast-success::before {
  content: '✅';
  position: absolute;
  font-size: 1.5rem;
  left: 0.75rem;
  top: 0.75rem;
  color: var(--secondary);
}

@keyframes toast-slide {
  0% {
    transform: translateY(-120%) scale(0.95);
    opacity: 0;
  }
  10% {
    transform: translateY(0) scale(1.02);
    opacity: 1;
  }
  15% {
    transform: translateY(0) scale(1);
  }
  85% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-120%) scale(0.95);
    opacity: 0;
  }
}
