:root {
  --primary: #331710;
  --secondary: #a27e4e;
}

* {
  font-family: 'times new roman';
  user-select: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

#map hr {
  border: 1px solid var(--secondary);
}

#map {
  width: 100%;
  height: 100%;
  background-image: url('./assets/background.jpg');
  background-position: center center;
  background-size: cover;
  background-color: var(--secondary);
}

#map .coordbox {
  opacity: 0.5;
  background-color: var(--primary);
  color: var(--secondary);
  padding-inline: 0.5em;
  padding-block: 0.25em;
  font-size: min(1.8vw, 16px);
  border: 1px solid var(--secondary);
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 999;
  transition: all ease 0.3s;
}

/* Garante que a fonte não fique muito pequena em telas minúsculas */
@media (max-width: 500px) {
  #map .coordbox {
    display: none;
    font-size: 14px;
    padding-inline: 0.4em;
    padding-block: 0.2em;
  }

  #map .leaflet-popup-content-wrapper {
    font-size: 10px;
  }

  #map .leaflet-tooltip {
    font-size: 12px;
  }
}


#map .coordbox:hover {
  opacity: 1;
}

#map .leaflet-popup-content-wrapper {
  color: var(--secondary);
  background: var(--primary);
  border: 1px solid var(--secondary);
  font-size: 12px;
  border-radius: 8px;
}

#map .leaflet-tooltip {
  color: var(--secondary);
  background: var(--primary);
  border: 1px solid var(--secondary);
  font-weight: bold;
  font-size: 14px;
  padding-block: 0;
}

#map .layerControlEmoji {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.leaflet-control {
  opacity: 0.75;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 16px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  transition: all ease 0.3s;
}

.leaflet-control:hover {
  opacity: 1;
}

#map .leaflet-control-zoom-out,
#map .leaflet-control-zoom-in {
  background-color: var(--primary);
  border-bottom-color: var(--secondary);
}

#map .leaflet-control-zoom-out span,
#map .leaflet-control-zoom-in span {
  color: var(--secondary);
}