:root {
  --primary: #331710;
  --secondary: #a27e4e;
}

* {
    font-family: 'times new roman';
}

html, body {
  height: 100%;
  margin: 0;
  background: #111;
}

#map hr {
  border: 1px solid var(--secondary);
}

#map {
  width: 100%;
  height: 100%;
}

#map .coordbox {
  opacity: 0.75;
  background-color: var(--primary);
  color: var(--secondary);
  padding-inline: 0.5em;
  padding-block: 0.25em;
  font-size: 16px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 999;
  transition: all ease 0.3s;
}

#map .coordbox:hover {
  opacity: 1;
}

/* Optional: custom popup styling */
#map .leaflet-popup-content-wrapper {
  color: var(--secondary);
  background: var(--primary);
  border: 1px solid var(--secondary);
  font-size: 12px;
  border-radius: 8px;
}

#map .leaflet-tooltip {
  color: var(--secondary);
  background: var(--primary);
  border: 1px solid var(--secondary);
  font-weight: bold;
  font-size: 14px;
  padding-block: 0;
}
